* {
    background-color: rgb(111, 185, 249);
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background-color: rgb(126, 171, 223);
}

.register {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(126, 171, 223);
}

.register-form-block {
    border-radius: 20pt;
    margin: auto;
    margin-top: 10%;
    border: 2px solid;
    border-color: black;
    background-color: rgb(126, 171, 223);
    height: 400px;
    width: 400px;
    box-shadow: 20px 20px 30px rgb(54, 123, 182);

}

input,
button {
    border: 2px solid;
    background-color: white;
    border-radius: 5pt;
    padding: 7px 15px;
    font-size: 15px;
}

.label {
    background-color: rgb(126, 171, 223);
    font-size: 20px;
    text-align: center;
}

.label-login {
    background-color: rgb(126, 171, 223);
    font-size: 20px;
    text-align: center;
}

.registered-user,
a {
    background-color: rgb(126, 171, 223);
    font-size: 20px;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(28, 117, 59);
    padding: 17px 34px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
}

.header {
    text-align: center;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    background-color: rgb(54, 123, 182);
    color: #f1f1f1;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    font-stretch: extra-condensed;
}