@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    /* background-color: rgb(18, 17, 17); */
    background-color: black;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-family: 'Muli', sans-serif;
}

.header {
    text-align: center;
    padding: 13px;
    font-size: 18px;
    line-height: 25px;
    box-shadow: #421D5D 0px 5px 15px;
    background-color: rgb(52, 54, 56);
    border-bottom-left-radius: 230% 600px;
    border-bottom-right-radius: 230% 600px;
    color: #f1f1f1;
    font-size: 30px;
    width: 70%;
    position: relative;
    height: 30px;
    overflow: hidden;
}

.header:hover {
    height: 120px;
    transition: height 0.2s ease-in;
}

.header-p {
    background-color: rgb(52, 54, 56);
    width: 150px;
    text-align: center;
}

.hide {
    display: none;
    /* background-color: rgb(52, 54, 56); */
    background-color: black;
    width: 70px;
    font-size: 22px;
}

div:hover .hide {
    display: inline-flex;
    background-color: black;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.register-form-block {
    border-radius: 40pt;
    margin-top: 9%;
    background-color: black;
    height: 470px;
    width: 370px;
    box-shadow: #421D5D 2px 2px 30px;
    text-align: center;
}

h1 {
    width: 150px;
    background-color: black;
    color: whitesmoke;
    margin-top: 4%;
}

.register {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;
    width: 250px;
}

input {
    margin: 15px;
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
    border-radius: 9pt;
    padding: 9px 15px;
    font-size: 15px;
    /* border-width: 0 0 0px; */
    border: none;
}

*:focus {
    outline: none;
    box-shadow: 0 0 10px #719ECE;
}

.takeurl:focus {
    /* border: #7c4587; */
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.button {
    background-color: rgb(21, 20, 20);
    margin-top: 20px;
    border: none;
    color: rgb(207, 202, 202);
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    width: 135px;
    border-radius: 30pt;
}

.button:hover {
    background-color: white;
    color: black;
    padding: 16px 31px;
    box-shadow: #421D5D 2px 2px 30px;
    transition: 0.2s all;
}

.button:active {
    transform: scale(0.90);
    box-shadow: #421D5D 2px 2px 30px;
}


button {
    width: 180px;
    margin: 27px;
    display: inline-block;
    background-color: white;
    border-radius: 30pt;
    font-size: 17px;
}

button:hover {
    background-color: white;
    color: black;
    padding: 16px 33px;
    box-shadow: #421D5D 2px 2px 30px;
    transition: 0.2s all;
}

button:active {
    transform: scale(0.90);
    box-shadow: #421D5D 2px 2px 30px;
}


.switch-login-register {
    position: relative;
    position: fixed;
}

.details-form-block {
    border-radius: 30pt;
    margin-top: 10%;
    margin-left: 300px;
    margin-right: 300px;
    border: none;
    background-color: black;
    box-shadow: #421D5D 2px 2px 30px;
    text-align: center;
}

.login_alert {
    width: 500px;
}

.registration_alert {
    width: 300px;
}

.registered-user {
    width: 400px;
    font-size: 30px;
    color: rgb(207, 202, 202);
    background-color: black;
}

.selection-form-block {
    border-radius: 30pt;
    margin-top: 10%;
    margin-left: 300px;
    margin-right: 300px;
    border: none;
    background-color: black;
    box-shadow: #421D5D 2px 2px 30px;
    text-align: center;
}

.selection {
    width: 510px;
}

.convert-form-block {
    border-radius: 40pt;
    margin-top: 9%;
    background-color: black;
    height: 300px;
    width: 900px;
    box-shadow: #421D5D 2px 2px 30px;
    text-align: center;
}

h2 {
    background-color: black;
    color: rgb(222, 222, 222);
    width: 250px;
    display: flex;
    justify-content: center;
}

.postdata {
    width: 850px;
}

.label {
    background-color: black;
    color: rgb(222, 222, 222);
}

h3 {
    width: 400px;
}


.history-form-block {
    border-radius: 30pt;
    color: white;
    margin-top: 5%;
    border: none;
    height: auto;
    width: 600px;
    box-shadow: #421D5D 2px 2px 30px;
    text-align: center;
    background-color: black;
}

table {
    align-self: center;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #000;
}

th {
    font-weight: 1600;
    padding: 8px 30px;
    color: bisque;
    border: 1px solid #421D5D
}

td {
    font-family: 100;
    padding: 8px 30px;
    /* margin: auto; */
    background-color: #000000;
    border: 1px solid #421D5D
}

.switchto-history {
    display: flex;
    justify-content: center;
}

.switchto-history-btn {
    cursor: pointer;
    padding: 16px 31px !important;
}